.ragam-title{
    display: flex;
    color: #fff;
    p{
        width: 46px;
        height: 46px;
        text-align: center;
        font-weight: 600;
        font-size: 2em;
        background-color: #000;
        border-left: 1px solid #fff;
    }
}