.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 390px;
    position: relative;
    border-top: 1px solid #0000001A;

    .footer-logo{
        position: absolute;
        display: flex;
        align-items: center;
        top: 42px;
        gap: 2.62rem;
    }

    .footer-tray{
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 152px;
        gap: 3.125rem;

        .social-div{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3.125rem;
            height: 3.125rem;
            border: 3px solid #000;
            border-radius: 50px;
            a{
                text-decoration: none;
                color: #000;
            }
            
            i{
                font-size: 1.5625rem;
            }
        }
    }

    .footer-address{
        text-align: center;
        height: 68px;
        position: absolute;
        bottom: 42px;

        h3{
            font-size: 1rem;
        }

        p{
            font-size: 0.875rem;
        }
    }
}

@media(max-width:350px){
    .footer {
        .footer-logo{
            gap: 1rem;
        }
        .footer-tray{
            gap: 1rem;
        }
    }
}